section{
    border: 5px solid rgb(27, 113, 153);
    background-color: rgb(114, 100, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color:whitesmoke;
    text-align: center;
}   

h2{
    color:yellow;
}

h5{
    text-align: center;
    color: white;
}

#titulo{
    text-align: center;
    font-size:200%;
    font-weight: bold;

}

article{
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article p#descricao{
    margin: 2%;
    font-style: italic;
    text-align: center;
}

article p#vagas, .pagamento ,.inscricao{
    font-weight: bold;
    text-align: center  ;
}

#vagas{
    color:red;
    font-size: 250%;
}

.pagamento{
    color: green;
    font-size: 200%;
}

.borda{
    padding: 2%;
    border: 3px dashed black;
    text-align: center;
    font-size: 250%;
    color: orange;
    margin: 5% 25%;

}

article  h3 {
    border: 2px solid black;
    background-color:lightseagreen;
}

.rodape{
    text-align: center;
    border: 2px solid black;
    background-color: rgb(137, 125, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
    color: white;
} 
        