
  <p id="titulo">
    <br>
    Conheça Nossos Cursos
  </p>

  <div class="container-md border p-3 mt-2">

    <div class="alert alert-primary" role="alert" style="font-weight: bold;">Análise e Desenvolvimento de Sistemas
    </div>

    Estudante de Análise e Desenvolvimento de Sistemas da Decola transforma-se em um analista ou projetista
    empreendedor, atuando no desenvolvimento e manutenção de sistemas de informação e no suporte de produtos de
    apoio.
    <br>

    <div class="alert alert-primary" role="alert" style="font-weight: bold;">Ciências da Computação</div>

    O curso de Ciências da Computação da Universidade Decola Tadeu forma profissionais para atuar no desenvolvimento
    de algoritmos e softwares. O curso é recomendado para aqueles que querem uma carreira na área de informática,
    especificamente desenvolvendo softwares para computadores, web, sistemas móveis e automação.
    <br>

    <div class="alert alert-primary" role="alert" style="font-weight: bold;">Sistemas de Informação</div>

    O aluno será habilitado para atender às demandas da sociedade da informação. Poderá atuar nas mais variadas
    frentes da Tecnologia da Informação, associando informática ao ambiente corporativo de negócios.
    <br>

    <div class="alert alert-primary" role="alert" style="font-weight: bold;">Administração</div>

    O curso de Administração da São Judas incentiva a reflexão do aluno sobre a importância social da sua profissão
    e amplia a sua forma de interagir com o mercado e com o mundo à sua volta.

    Ser líder e formar equipes de sucesso, desenvolver e aplicar projetos e gerar receita para as empresas são
    exigências do mundo dos negócios. Na São Judas você é instruído a transformar estratégias em ações
    diferenciadas, competitivas e socialmente responsáveis.
    <br>

    <div class="alert alert-primary" role="alert" style="font-weight: bold;">Gestão Comercial</div>
    O curso de Gestão Comercial da Universidade Decola forma profissionais para desenvolverem potencial competitivo,
    capazes de criar modelos gerenciais e definir estratégias de vendas diferenciadas, de acordo com as exigências
    do mercado. Além de promover adoção de tecnologias em vendas, a graduação contempla uma formação humanística,
    com fundamentos científicos requeridos no ambiente mercadológico e da gestão empresarial.
    <br>

  </div>

  <br>

  <div class="container text-center">

    <div class="row border mx-2">

      <div class="col-md-4 p-5" style="color: rgb(223, 215, 112)">Não perca tempo!!!</div>

      <div class="col-md-4 p-5 font-weight-bold" style="color: red">VAGAS LIMITADAS</div>

      <div class="col-md-4 p-5" style="color: green">Pagamento Facilitado</div>


    </div>

    <br>


      <p class="font-weight-light"> Clique no botão abaixo e participe do próximo vestibular </p>



      <button type="button" class="btn btn-primary mb-4">Increva-se!</button>

    <br>

  </div>





