

<div class="container-md border p-3 mt-2 text-center">

  <div class="alert alert-warning" role="alert" style="font-weight: bold; color: rgb(170, 143, 52);">Corpo Docente Qualificado e com Experiência no Mercado de Trabalho
  </div>


  <div class="container-md text-center">
    <div class="row">
      <div class="col-sm-5 col-md-6" style="font-weight: bold">Programação Orientada a Objetos (POO)</div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Hamilton Machiti Costa e Andrea Machion</div>

      <div class="col-sm-5 col-md-6" style="font-weight: bold">Redes de Computadores</div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Giocondo Marino Antônio</div>

      <div class="col-sm-5 col-md-6" style="font-weight: bold">Arquitetura de Sistemas</div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Antônio Sérgio Bonato</div>

      <div class="col-sm-5 col-md-6" style="font-weight: bold">Desenvolvimento Web</div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Rodrigo Bossini e Igor Moreira Félix</div>

      <div class="col-sm-5 col-md-6" style="font-weight: bold">Desenvolvimento Mobile (Android)</div>
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Elcio Abraão</div>

    </div>

  </div>
