section{
  border: 2px solid rgb(30, 31, 110);
  background-color: rgb(30, 31, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px;
}

h1{
  color:whitesmoke;
  text-align: center;
}

h5{
  text-align: center;
  color: white;
}

h6{
  text-align: center;
  color: white;
}

#titulo{
  text-align: center;
  font-size:250%;
  font-weight: bold;

}

article{
  border: 2px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rodape{
  text-align: center;
  background-color:  rgb(30, 31, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%;
  color: white;
}

